<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One page</title>
</head>
<body>
<h1>This example about page controller</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur consectetur corporis cumque doloremque,
    ducimus eius eos illum iste magni molestiae mollitia officia quos repudiandae saepe sapiente similique tempora.
    Assumenda at facilis in libero magnam numquam odio quis. Accusamus adipisci, at ducimus eius error harum in odit
    officia pariatur quaerat quos recusandae reprehenderit similique, sunt totam. Asperiores blanditiis, dolor est
    exercitationem in ipsa repellat sit temporibus! Cumque delectus eum labore magnam maiores necessitatibus optio
    repudiandae sequi. Alias architecto autem deserunt dignissimos, eligendi eos fugiat illo iste, magni neque numquam
    odit officia quisquam repellendus soluta tenetur totam, ut voluptatibus? Itaque, nam.
</p>
</body>
</html>